/* styles/Chat.module.css */
.glowingBorder {
    position: relative;
    z-index: 1;
}

.glowingBorder::before,
.glowingBorder::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, white, black, rgb(187, 187, 187));
    background-size: 400% 400%;
    border-radius: 16px; /* Match the border-radius of the Card */
    z-index: -1;
    animation: glowing 5s linear infinite;
    filter: blur(8px);
    opacity: 0.8;
}

.glowingBorder::after {
    filter: blur(16px);
}

.movable{
    display: none;
}

@keyframes glowing {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.typing {
    /* Set the text content */
    content: attr(data-text);
    animation: typing 2s steps(40, end) infinite forwards;
    overflow: hidden;
    white-space: nowrap;
    /* font-size: 0.9em; */
    font-weight: bolder;
    /* display: inline-block; */
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
@media (min-width: 600px) {
    .cardCont {
        min-width: 500px;
    }

    .mainContainer {
        height: 100vh
    }

    
    .movable {
        display: block;
        position: absolute;
        padding: 12px 20px;
        margin: 10px 10px;
        border-radius: 10px;
        background-image: url('/assets/img/notes.jpg');
        background-size: 260%;
        background-position: center;
        /* background-position-y: 10; */
        background-repeat: no-repeat;
        width: 15em;
        height: 10em;
        z-index: 5; 
        /* top: 0;
        right: 0; */
    }

    .movable li {
        font-size: 13px;
    }

}

@media (max-width: 500px) {
    .mainContainer {
        height: 50em;
    }

    .cardCont {
        height: 500px;
    }
}
