.blogheader {
  height: 400px;
  padding-top: 50px;
  background-image: url("/assets/img/header-img3.webp");
  z-index: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1600px 600px;
}

.innerdivblog {
  width: 500px;
  height: 300px;
  margin-left: 100px;
  position: relative;
  color: white;
}

.innerdivblog h2 {
  padding: 10px;
  padding-top: 15px;
}

.innerdivblog::before {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background: white;
}

.innerdivblog::after {
  position: absolute;
  content: "";
  display: block;
  background: white;
  height: 10px;
  width: 100%;
  top: 300px;
}

.maindiv {
  background-color: rgb(30 41 59);
  padding: 2rem;
}

.blogcardcontainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 85%;
  margin: auto;
}

.blog {
  margin: 0px auto;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  width: 20vw;
  height: 360px;
  overflow: hidden;
  color: white;
}

.blogImg {
  position: relative;
  height: 180px;
  border-radius: 5px;
  background-position: center;
  background-size: 300px;
  border: solid white 1px;
}

.pagecontent {
  background: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px auto;
  padding: 50px 60px;
  border: solid black 1px;
}

.blogimage {
  overflow: hidden;
  height: 300px;
}

.blogimage img {
  width: 100%;
  object-position: 0 -150px;
  object-fit: cover;
  transform: perspective(0px);
}

.blogdate {
  font-size: 16px;
  padding-left: 5px;
  font-family: var(--font-josefin);
}

.blogtitle {
  font-family: var(--font-josefin);
  font-size: 40px;
  font-weight: bold;
}

.metadesc {
  font-family: var(--font-montserrat);
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 5px;
}

.blogcontent {
  font-family: var(--font-nunito);
  white-space: pre-line;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
}

.blogcontent figure img {
  margin: 2px auto;
}

.blogcontent a {
  color: #0000ee;
  font-style: italic;
}

.blogcontent h6 {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}

.date {
  font-size: 13px;
  color: black;
  background: white;
  padding: 3px 5px;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 2px;
}

.metastring {
  font-size: 14px;
  padding: 0.25rem;
  max-height: 100px;
  overflow: hidden;
}

.titleblog {
  font-weight: bold;
  font-size: 18px;
  padding: 0 0.25rem;
}

.headerblogtitle {
  font-size: 25px;
  font-weight: bold;
}

.headerblogtitlep {
  padding-left: 0.75rem;
}

.blogmaindiv {
  padding: 2.5rem 0;
}

@media (max-width: 900px) {
  .blogcardcontainer {
    width: 100%;
  }

  .blog {
    width: 25vw;
    height: 320px;
  }

  .metastring {
    max-height: 70px;
    font-size: 12px;
  }

  .blogImg {
    height: 150px;
  }

  .titleblog {
    font-size: 16px;
  }

  .date {
    font-size: 11px;
    padding: 2px 4px;
  }

  .blogheader {
    background-size: 1300px 500px;
    background-position: -150px 0;
  }

  .innerdivblog {
    width: 400px;
    height: 280px;
  }

  .innerdivblog::after {
    top: 280px;
  }

  .pagecontent {
    width: 90%;
    padding: 35px 40px;
  }

  .blogimage {
    height: 200px;
  }

  .blogimage img {
    object-position: 0 -100px;
  }

  .blogdate {
    font-size: 15px;
  }

  .blogtitle {
    font-size: 36px;
  }

  .blogcontent {
    font-size: 17px;
    padding: 8px;
    margin-top: 12px;
  }
}

@media (max-width: 600px) {
  .blogcardcontainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
  }

  .blog {
    width: 37vw;
    height: 300px;
  }

  .metastring {
    font-size: 10px;
    max-height: 60px;
  }

  .blogImg {
    height: 150px;
  }

  .titleblog {
    font-size: 14px;
  }

  .date {
    font-size: 9px;
    padding: 2px 4px;
  }

  .blogheader {
    height: 300px;
    background-size: 1000px 400px;
    background-position: -120px 0;
  }

  .innerdivblog {
    width: 250px;
    height: 250px;
    margin-left: 60px;
  }

  .innerdivblog::before {
    height: 7px;
  }

  .innerdivblog::after {
    height: 7px;
    top: 160px;
  }

  .headerblogtitle {
    font-size: 15px;
  }

  .headerblogtitlep {
    font-size: 11px;
  }

  .headerblogtitlep span {
    font-size: 18px;
  }

  .pagecontent {
    width: 100%;
    margin: 0 auto;
    padding: 20px 38px;
    padding-top: 80px;
    border: none;
  }

  .blogimage {
    height: 200px;
  }

  .blogimage img {
    object-position: 0 -40px;
  }

  .blogdate {
    font-size: 15px;
  }

  .blogtitle {
    font-size: 36px;
  }

  .blogcontent {
    font-size: 17px;
    padding: 8px;
    margin-top: 12px;
  }

  .blogmaindiv {
    padding: 0;
  }
}
